:root {
    --color: #367234;
}

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}


.profile-picture {
    text-align: center;
    margin: 0 auto;
    float: none;
}

section {
    padding: 45px 0 80px 0;
}

/* MENU */

.navbar {
    background: var(--color);
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-nav li a, .navbar-nav li#versions {
    color: #fff !important;
    transition: .6s;
}

.navbar-nav li a:hover, .navbar-nav li.active a, navbar-nav li#versions:hover ul#myVersion {
    color: var(--color) !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-style: none;
}

.icon-bar {
    background-color: #fff !important;
}

.list {
    position: fixed;
    display: block;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    z-index: 1000;
    margin-top: 10%;
    margin-left: 0;
}

.list li {
    margin: 30% 0;
}

.list li a {
    color: #fff;
}

.list li a img {
    position: sticky;
    width: 2.4em;
    height: 2.4em;
    z-index: 1000;
}

/* ABOUT */

#about {
    padding-top: 100px;
    background-color: var(--color);
}

#about img:not(.colombia) {
    max-width: 100%;
    height: auto;
    border: 2px solid gold;
    background: #fff;
    border-radius: 50%;
}

#about .container .row .col-12 .hobbies .modal .modal-content .modal-body {
    background: var(--color);
    color: #fff;
    max-width: 600px;
}

@media screen and (max-width: 768px) {
    #about {
	background-color: var(--color);
    }
	
    #about .container .row .col-12 .hobbies .modal .modal-content .modal-body {
        max-width: 480px;
    }
}

#about .container .row .col-12 .hobbies .modal .modal-content .modal-body img.plane {
    border-style: none;
    background: none;
    width: 100px;
    animation: animTrips 10s linear infinite;
}

@keyframes animTrips{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(-360deg);
    }
}

#about  .heading {
    padding-top: 10px;
    text-align: center;
    padding-bottom: 40px;
}

#about .heading h1 {
    color: #fff;
    text-transform: uppercase;
}

#about .heading h3 {
    color: #fff;
    font-size: 28px;
}

#about .heading .button2, #contact .container .mail h3, #contact .container .number h3, #contact .container .button2 {
    height: 60px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 20px;
    display: inline-block;
    padding: 18px;
    border-radius: 4px;
    transition: all 0.3s ease-in 0s;
    position: relative;
}

#about .heading .button2::before, #contact .container .mail h3:before, #contact .container .number h3:before, #contact .container .button2:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}

#about .heading .button2:hover, #contact .container .mail h3:hover, #contact .container .number h3:hover, #contact .container .button2:hover {
	text-decoration: none;
}

#about .heading .button2:hover::before, #contact .container .mail h3:hover::before, #contact .container .number h3:hover::before, #contact .container .button2:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}

#about .heading .button2::after, #contact .container .mail h3:after, #contact .container .number h3:after, #contact .container .button2:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
#about .heading .button2:hover::after, #contact .container .mail h3:hover::after, #contact .container .number h3:hover::after, #contact .container .button2:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

#about .container .row .col-12 .hobbies h3 {
    color: rgb(22, 21, 21);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .175);

}

/* SKILLS */

#skills, #education, #projects {
    background: #fff;
}

#skills .green-divider, #education .green-divider, #projects .green-divider {
    width: 100px;
    height: 3px;
    background: var(--color);
    margin: 0 auto;
}

#skills .heading h2, #education .heading h2, #projects .heading h2{
    color: var(--color);
    text-align: center;
    text-transform: uppercase;
    margin: 25px;
}

#skills .progress {
    height: 50px;
    background: #ddd;
    margin-bottom: 60px !important;
}

#skills .progress:last-child {
    margin: 0 20px;
}

#skills .progress:not(:last-child) {
    margin: 15px 20px;

}

#skills .progress .progress-bar {
    background: var(--color);
}


#skills .progress .progress-bar h5 {
    text-shadow: 1px 1px 1px #000;
    font-size: 18px;
    line-height: 18px;
}

.text {
    margin-left: 50%;
}

#typed {
    color: #000;
    font-family: 'Caveat', cursive;
    font-weight: bolder;
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translate( -50%, -50% );
}

/* EXPERIENCE */

#experience, #portfolio, #contact {
    background: var(--color);
}

#about .container .white-divider, #experience .white-divider, #portfolio .white-divider, #contact .white-divider {
    width: 100px;
    height: 3px;
    background: #fff;
    margin: 0 auto;
}

#about .container .heading h2, #experience .heading h2, #portfolio .heading h2, #contact .heading h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 25px;
}

#experience .container .timeline {
    list-style: none;
    padding: 30px 10px;
    position: relative;
}

#experience .container .timeline::before {
    content: " ";
    top: 10px;
    bottom: 30px;
    left: 50%;
    margin-left: -2,5px;
    width: 5px;
    background: #333;
    position: absolute;
}

@media screen and (max-width: 768px) {
    #experience .container .timeline::before {
        background: none;
    } 
}

#experience .container .timeline > li {
    margin-bottom: 20px;
    position: relative;
}

#experience .container .timeline > li::after {
    clear: both;
}

#experience .container .timeline > li::before, #experience .container .timeline > li::after {
    content: " ";
    display: table;
}

#experience .container .timeline li .timeline-badge {
    color: var(--color);
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}

#experience .container .timeline li .timeline-panel-container {
    width: 50%;
    float: left;
}

#experience .container .timeline li .timeline-panel-container-inverted {
    width: 50%;
    float: right;
}

@media screen and (max-width: 768px) {
    #experience .container .timeline li .timeline-panel-container, #experience .container .timeline li .timeline-panel-container-inverted {
        width: 100%;
        float: none;
    } 
}

#experience .container .timeline li .timeline-panel-container .timeline-panel {
    width: 80%;
    float: right;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 15px 25px;
    position: relative;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .175);
    margin-right: 35px;
    word-wrap: break-word;
}

#experience .container .timeline li .timeline-panel-container-inverted .timeline-panel {
    width: 80%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 15px 25px;
    position: relative;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .175);
    margin-left: 35px;
    word-wrap: break-word;
}

@media screen and (max-width: 768px) {
    #experience .container .timeline li .timeline-panel-container .timeline-panel, #experience .container .timeline li .timeline-panel-container-inverted .timeline-panel {
        width: 100%;
        float: none;
        margin: 0 0 25px 0;
        padding: 20px 25px;
    } 
}

#experience .container .timeline li .timeline-panel-container .timeline-panel::after {
    position: absolute;
    top: 27px;
    right: -12px;
    display: inline-block;
    border-top: 8px solid transparent;
    border-left: 25px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 8px solid transparent;
    content: " ";
}

#experience .container .timeline li .timeline-panel-container-inverted .timeline-panel::after {
    position: absolute;
    top: 27px;
    left: -12px;
    display: inline-block;
    border-top: 8px solid transparent;
    border-left: 0 solid #fff;
    border-right: 25px solid #fff;
    border-bottom: 8px solid transparent;
    content: " ";
}

@media screen and (max-width: 768px) {
    #experience .container .timeline li .timeline-panel-container .timeline-panel::after, #experience .container .timeline li .timeline-panel-container-inverted .timeline-panel::after {
        border:none
    }
    
    #button1 {
        width: 100% !important;
    }
}

#experience .container .timeline li .timeline-panel-container .timeline-panel .timeline-heading h3, #experience .container .timeline li .timeline-panel-container-inverted .timeline-panel .timeline-heading h3 {
    margin-top: 5px;
    font-size: 22px;
    text-transform: uppercase;
}

#experience .container .timeline li .timeline-panel-container .timeline-panel .timeline-heading h4, #experience .container .timeline li .timeline-panel-container-inverted .timeline-panel .timeline-heading h4 {
    color: var(--color);
    font-size: 20px;
}

#experience .container .timeline li .timeline-panel-container .timeline-panel .timeline-heading p.text-muted, #experience .container .timeline li .timeline-panel-container-inverted .timeline-panel .timeline-heading p.text-muted {
    font-size: 22px;
}

#experience .container .timeline li .timeline-panel-container .timeline-panel .timeline-body p, #experience .container .timeline li .timeline-panel-container-inverted .timeline-panel .timeline-body p {
    font-size: 18px;
}

.regus, .mickey {
    width: 35px;
    border: none;
}

/* EDUCATION */

#education .container .row .col-sm-4 .education-block {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

#education .container .row .col-sm-4 .education-block h5 {
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}

#education .container .row .col-sm-4 .education-block span {
    font-size: 40px;
}

#education .container .row .col-sm-4 .education-block h3 {
    color: var(--color);
}

#education .container .row .col-sm-4 .education-block h4 {
    margin-bottom: 20px;
}

#education .container .row .col-sm-4 .education-block .green-divider {
    width: 100px;
    height: 3px;
    background: var(--color);
    margin: 0 auto;
}

#education .container .row .col-sm-4 .education-block p {
    margin-top: 20px;
    font-weight: bold;
}

#portfolio .container .heading {
    margin-bottom: 50px;
}

/* PORTFOLIO */

#portfolio .container .row .col-sm-4 a {
    margin-bottom: 30px;
}

#portfolio .container .row .col-sm-4 a img{
    height: 180px;
    width: 240px;
    transition: all .6s ease-in 0s;
}

#portfolio .container .row .col-sm-4 img:hover {
    transform: scale(1.2);
    z-index: 2;
}

#portfolio .container .row .col-sm-4 img:not(:hover) {
    filter: blur(3px) grayscale(1) !important;
}

/* PROJECTS */

#projects .item a {
    display: block;
    margin-top: 3%;
    color: rgb(88, 77, 77);
    font-size: 24px;
    text-align: center;
    opacity: 0.4;
    transition: 2s;
    text-shadow: black .05em .05em 0,
    var(--color) .08em .08em 0;
}

#projects .item a:hover {
    text-decoration: none;
    opacity: 1;
    color: rgb(98, 89, 89);
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: var(--color);
}

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators li {
    border: 2px solid var(--color);
}

.carousel-indicators li .active {
    background-color: var(--color);
}

#myCarousel .item {
    padding: 40px 30px;
}

#myCarousel .item h3 {
    color: var(--color);
    font-style: italic;
}

/* CONTACT */

.divider {
    width: 100px;
    height: 3px;
    background: #fff;
    margin: 0 auto;
}

#contact-form {
    font-size: 20px;
    padding: 25px;
    border-radius: 10px;
    width: auto;
    margin: 0 auto;
}

.white {
    color: white;
}

.required {
    font-style: italic;
}

.form-control {
    height: 50px;
    font-size: 18px;
}

.comments {
    font-style: italic;
    font-size: 18px;
    color: #fff;
    height: 25px;
}

#contact-form label {
    color: #fff;
    font-weight: bold;
}

#contact-form input[type=submit] {
    margin: 40px auto 0;
    display: block;
}

.button1 {
    background: #367234;
    color: #fff;
    width: 25%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 18px;   
    transition: all 0.2s ease-in 0s;
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
}

.button1:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 1px 1px 2px #427388;
}

#tips1, #tips2, #tips3, #tips4, #tips5, #tips6, #tips7, #tips8, #tips9, #tips10, #tips11, #tips12, #tips13, #tips14, #tips15, #tips16, #tips17, #tips18, #tips19, #tips20, #tips21, #tips22, #tips23, #tips24, #tips25, #tips26, #tips27, #tips28, #tips29, #tips30, #tips31, #tips32, #tips33, #tips34, #tips35 {
    display: none;
}

.thank-you {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
}

#contact .contact .row .col-sm-6 h3 {
    text-align: center;
    float: left;
}

#contact .container .row .col-md-4 .github a, #contact .container .row .col-md-4 .whire a, #contact .container .row .col-md-4 .linkedIn a {
    display: block;
    margin-top: 3%;
    color: #333;
    font-size: 30px;
    text-align: center;
    opacity: 0.75;
    transition: 2s;
    text-shadow: black .05em .05em 0,
    var(--color) .08em .08em 0;
}

#contact .container .row .col-md-4 .github a:hover, #contact .container .row .col-md-4 .whire a:hover, #contact .container .row .col-md-4 .linkedIn a:hover {
    text-decoration: none;
    opacity: 1;
    color: #ffee10;
    text-shadow: 0 0 5px #ffee10;    
}

/* FOOTER */

footer {
    background: #333;
    padding: 20px 0 40px;
}

footer .glyphicon {
    color: var(--color);
    font-size: 28px;
    margin: 20px;
    height: 30px;
}

footer .glyphicon:hover {
    font-size: 30px;
}

footer h5 {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 15px;
}
